/* CORE STYLES FOLLOW */

/* Boxed Layout */
.wrapper {
  background: #fff;
}

.boxed-layout {
  padding: 0;
  box-shadow: 0 0 5px #ccc;
  margin-left: auto !important;
  margin-right: auto !important;
  background: url(../patterns/15.png) repeat;
}

/*Top Bar (login, search etc.) */
/* Logo in the header (normal) */
a.logo {
  display: block;
  height: 96px;
  width: 96px;
  margin-left: 25px;
  background: url('../logo-96px.png') no-repeat
}

/* Override for developers page */
.devhub a.logo {  background: url('../dev-hub-logo-96px.png') no-repeat }

/* 404 error background */
.bg-err { height: 750px; background: url('../404-750px.jpg') no-repeat }

.topbar {
	z-index: 12;
	line-height: 1em;
	position: relative;
}

.topbar ul.loginbar { margin: 0; padding-top: .5em }

.topbar ul.loginbar > li {
	display: inline;
	list-style: none;
	position: relative;
	padding-bottom: 10px;
}

li.sep:after { margin-left: 5px; content: '•' }

.topbar ul.loginbar > li > a,
.topbar ul.loginbar > li > a:hover {
	color: #7c8082;
	font-size: 11px;
	text-transform: uppercase;
}

.topbar ul.loginbar li i.fa {
	color: #bbb;
}

.topbar ul.loginbar li.topbar-devider {
	top: -1px;
	padding: 0;
	font-size: 8px;
	position: relative;
	margin: 0 9px 0 5px;
	border-right: solid 1px #bbb;
}
/* Header default */
.header { z-index: 99; position: relative; border-bottom: solid 2px #eee }
.header .navbar { margin: 0; min-height: inherit }
.header .navbar-default { border: none; background: none }
.header .navbar-collapse { position: relative }

/* Brand */
.header .navbar-brand {
	z-index: 1;
	top: -10px;
	position: relative;
	padding: 0 10px 10px;
}

@media (max-width: 992px) {
	.header .navbar-brand { top: 0; height: 56px }
}

@media (min-width: 992px) {
	.header .navbar-nav { float: left }
}

.header .navbar-default .navbar-nav > li > a {
	color: #687074;
	font-size: 15px;
	font-weight:400;
	text-transform: uppercase;
}

.header .navbar-default .navbar-nav > .active > a { color: #72c02c }

/* Dropdown */
.header .navbar-right .dropdown-menu { right: inherit }

/* Navbar toggle */
.navbar-toggle,
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
	padding: 6px 10px 2px;
}

.navbar-default .navbar-toggle .fa { color: #fff; font-size: 19px }

/* Responsive navbar */
@media (max-width: 767px) {
	.header .navbar-default .navbar-nav > li > a {
		font-size: 14px;
		padding: 9px 10px;
	}

	.header .navbar-default .navbar-nav > li a { border-bottom: solid 1px #eee }
	.header .navbar-default .navbar-nav > li > a:focus { background: none }
	.header .navbar-default .navbar-nav > li > a:hover { color: #72c02c }

	.header .navbar-default .navbar-nav > .active > a,
	.header .navbar-default .navbar-nav > .active > a:hover,
	.header .navbar-default .navbar-nav > .active > a:focus {
		color: #fff;
		background: #72c02c
	}

	.header .dropdown-submenu li a { font-size: 12px }
}

@media (min-width: 767px) {
	/* Navbar collapse */
	.header .navbar-collapse { padding: 0 }

	/* Navbar */
	.header .navbar-nav { top: 2px; left: 10px; position: relative }
  .header .navbar-default .navbar-nav > li { padding: 0px 20px }
  .header .navbar-default .navbar-nav > li > a { padding: 10px }

	.header .navbar-default .navbar-nav > li > a,
	.header .navbar-default .navbar-nav > li > a:focus {
		border-bottom: solid 2px transparent;
	}

	.header .navbar-default .navbar-nav > li > a:hover,
	.header .navbar-default .navbar-nav > .active > a {
		border-bottom: solid 2px #72c02c;
	}

	.header .navbar-default .navbar-nav > li > a,
	.header .navbar-default .navbar-nav > li > a:hover,
	.header .navbar-default .navbar-nav > li > a:focus,
	.header .navbar-default .navbar-nav > .active > a,
	.header .navbar-default .navbar-nav > .active > a:hover,
	.header .navbar-default .navbar-nav > .active > a:focus {
		background: none;
	}

	.header .navbar-default .navbar-nav > .open > a,
	.header .navbar-default .navbar-nav > .open > a:hover,
	.header .navbar-default .navbar-nav > .open > a:focus {
		color: #687074;
	}

	/* Dropdown menu */
	.header .dropdown-menu {
		padding: 0;
		border: none;
		min-width: 200px;
		border-radius: 0;
		z-index: 9999 !important;
		margin-top: -2px !important;
		border-top: solid 2px #72c02c;
		border-bottom: solid 2px #687074;
	}

	.header .dropdown-menu li a {
		color: #687074;
		font-size: 14px;
		font-weight: 400;
		padding: 6px 15px;
		border-bottom: solid 1px #eee;
	}

	.header .dropdown-menu .active > a,
	.header .dropdown-menu li > a:hover {
		color: #fff;
		filter: none !important;
		background: #687074 !important;
		-webkit-transition: all 0.1s ease-in-out;
		-moz-transition: all 0.1s ease-in-out;
		-o-transition: all 0.1s ease-in-out;
		transition: all 0.1s ease-in-out;
	}

	.header .dropdown-menu li > a:focus {
		background: none;
		filter: none !important;
	}

	.header .navbar-nav > li.dropdown:hover > .dropdown-menu {
		display: block;
	}

  .service { height: 200px !important }
  .enhanced { height: 260px !important }
}

/* Search box */
.header .navbar .nav > li > .search {
	color: #aaa;
	cursor: pointer;
	min-width: 35px;
	font-size: 15px;
	text-align: center;
	background: #f7f7f7;
	padding: 11px 0 12px;
	display: inline-block;
	border-bottom: solid 2px #aaa;
}

.header .navbar .nav > li > .search:hover {
	color: #72c02c;
	background: #f7f7f7;
	border-bottom-color: #72c02c;
}

.header .navbar .search-open {
	right: 0;
	top: 38px;
	display: none;
	padding: 14px;
	position: absolute;
	background: #fcfcfc;
	border-top: solid 2px #eee;
	box-shadow: 0 1px 3px #ddd;
}

.header .navbar .search-open form {
	margin: 0;
}

@media (min-width: 767px) {
	.header .navbar .search-open {
		width: 330px;
	}

	.header .open > .dropdown-menu,
	.header-v1 .open > .dropdown-menu { display: none }
}

@media (max-width: 767px) {
	.header .navbar .nav > li > .search {
		color: #999;
		width: 35px;
		height: 34px;
		line-height: 12px;
		text-align: left;
		text-align: center;
		margin: 5px 10px 0;
		background: #eee;
		border-bottom: none;
	}

	.header .navbar .nav > li > .search:hover {
		background: #5fb611;
		color: #fff !important;
	}

	.header .navbar .search-open {
		top: 5px;
		padding: 0;
		left: 48px;
		border-top: none;
		box-shadow: none;
		background: none;
		margin-right: 10px;
	}
}

/* Header v1 */
.header-v1 { border-bottom: none }

/* Brand */
.header-v1 .navbar-brand { top: 2px; padding: 0 10px 10px }

/* Search box */
.header-v1 .navbar .search-open { background: #f8f8f8 }

@media (max-width: 767px) {
	.header-v1 .navbar .search-open { bottom: -6px }
}

.header-v1 .navbar .nav > li > .search {
	padding: 11px;
	border: none;
	min-width: 37px;
}

.header-v1 .navbar .nav > li > .search:hover { background: #72c02c; color: #fff !important }

/* Toggle */
.header-v1 .navbar-toggle { margin-top: 3px }

/* Responsive Header v1 */
@media (min-width: 767px) and (max-width: 992px) {
	/* Brand */
	.header-v1 .navbar-brand { margin-bottom: 15px }
  a.logo { width: 60px; background: url('../logo-52px.png') no-repeat }
  /* Override for developers page */
  .devhub a.logo {  background: url('../dev-hub-logo-52px.png') no-repeat }
}

@media (min-width: 767px) {
	/* Navbar */
	.header-v1 .navbar-default .navbar-nav > li { margin-left: 1px }

	.header-v1 .navbar-default .navbar-nav > li > a {
		padding: 9px 30px 6px 20px;
	}

	.header-v1 .navbar-default .navbar-nav > .active > a,
	.header-v1 .navbar-default .navbar-nav > li > a:hover,
	.header-v1 .navbar-default .navbar-nav > li > a:focus {
		color: #fff !important;
		background: #72c02c !important;
	}

	.header-v1 .navbar-default .navbar-nav > .open > a,
	.header-v1 .navbar-default .navbar-nav > .open > a:hover,
	.header-v1 .navbar-default .navbar-nav > .open > a:focus {
		color: #fff;
		background: #72c02c;
	}

	/* Dropdown menu */
	.header-v1 .dropdown-menu { background: #fafafa }
}

/* Header fixed */
.header-fixed .header { height: 78px }

.header-fixed .header.header-fixed-shrink {
	top: 0;
	left: 0;
	width: 100%;
	height: 95px;
	z-index: 9999;
	position: fixed;
	margin-top: -35px;
	background: rgba(255,255,255, 0.9);
	border-bottom-color: #f5f5f5;
	-webkit-transition: height 0.6s;
	-moz-transition: height 0.6s;
	transition: height 0.6s;
}

/*Brand*/
.header-fixed .header.header-fixed-shrink .navbar-brand {
	top: 10px;
	z-index: 1;
	position: relative;
	padding: 0 10px 10px;
}

.header-fixed .header.header-fixed-shrink .navbar-brand img {
	width: 90%;
}

.header-fixed .header.header-fixed-shrink .search,
.header-fixed .header.header-fixed-shrink .active a {
	border-bottom: none !important;
}

.header-fixed .header.header-fixed-shrink .dropdown > a:after {
	top: 19px;
}

/*Toggle*/
.header-fixed .navbar-toggle {
	margin-top: 5px;
}

/*Search Bar*/
.header-fixed .header.header-fixed-shrink .search {
	margin-top: 12px;
	padding: 8px !important;
	color: #585f69 !important;
	background: none !important;
}

.header-fixed .header.header-fixed-shrink .search-open {
	border-top: none;
	background: rgba(255,255,255, 0.9);
}

/* Responsive fixed header */
@media (max-width: 992px) {
	/* Header */
	.header-fixed .header { height: 118px }
	.header-fixed .header.header-fixed-shrink { height: 135px }
}

/* Mobile responsive */
@media (max-width: 767px) {
	/* Header */
	.header-fixed .header,
	.header-fixed .header.header-fixed-shrink { height: 88px }

	/* Navbar */
	.header-fixed .header .navbar-nav {
		background: #fff;
		padding: 6px 0;
		margin-top: 0px;
		border: solid 1px #eee;
	}

  /* Logo */
  a.logo {
    margin-left: 30px;
    width: 60px;
    background: url('../logo-52px.png') no-repeat
  }
  /* Override for developers page */
  .devhub a.logo {  background: url('../dev-hub-logo-52px.png') no-repeat }

  /* 404 error background */
  .bg-err { height: 375px; background: url('../404-375px.jpg') no-repeat }

	.header-fixed .header .navbar-default .navbar-collapse,
	.header-fixed .header .navbar-default .navbar-form {
		border: none;
	}

	/*Toggle*/
	.header-fixed .navbar-toggle {
		margin-top: 9px;
	}

	/*Search*/
	.header-fixed .header.header-fixed-shrink .navbar .nav > li > .search {
		top: 5px;
		position: relative;
	}
}

@media (min-width: 767px) {
	/*Navbar*/
	.header-fixed .header.header-fixed-shrink .navbar-nav > li > a {
		padding: 19px 30px 18px 20px;
		border-bottom: solid 1px transparent !important;
	}

	/*Search Bar*/
	.header-fixed .header.header-fixed-shrink .search-open {
		top: 56px;
	}
}

/* LDC VIA TWEAKS */
/*
* Version: 1.6 - colours used:
* REAL LDC Via red: #e0000a (WAS #e0000a)
* LDC Via red for links: #e0000a (WAS #e0000a)
* Different red for borders: #c0392b;
* Pinkish-white background: #f9e6e6
*/
a, a:focus, a:hover, a:active { color: #e0000a }
a.download-content { color: #000 }

/* Header v1 Navbar */
.header .navbar-default .navbar-nav > .active > a { color: #e0000a }

/* Navbar toggle */
.navbar-toggle,
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus { background: #e0000a }

/* Dev Hub override */
.devhub .navbar-toggle,
.devhub .navbar-default .navbar-toggle:hover,
.devhub .navbar-default .navbar-toggle:focus { background: #000 }

/*Responsive Navbar*/
@media (max-width: 767px) {
	.header .navbar-default .navbar-nav > li > a:hover { color: #e0000a }
	.header .navbar-default .navbar-nav > .active > a,
	.header .navbar-default .navbar-nav > .active > a:hover,
	.header .navbar-default .navbar-nav > .active > a:focus {
		color: #fff;
		background-color: #e0000a;
	}

  /* reduce bootstrap header margin */
  .page-header { margin: 0; padding: 0; border: 0 }
  .content { padding-top: 10px; padding-bottom: 10px }

	/* Logo in the header */
	.logo { margin: -12px 0 0 20px }

	/* Footer margin */
	.footer .container { margin-left: 15px }
}

@media (min-width: 767px) {
	/*Navbar*/
	.header .navbar-default .navbar-nav > li > a:hover,
	.header .navbar-default .navbar-nav > .active > a {
		border-bottom: solid 2px #e0000a;
	}
	.devhub .header .navbar-default .navbar-nav > li > a:hover,
	.devhub .header .navbar-default .navbar-nav > .active > a {
		border-bottom: solid 2px #000;
	}

	.header .navbar-default .navbar-nav > .open > a,
	.header .navbar-default .navbar-nav > .open > a:hover,
	.header .navbar-default .navbar-nav > .open > a:focus {
		color: #e0000a;
	}

	.devhub .header .navbar-default .navbar-nav > .open > a,
	.devhub .header .navbar-default .navbar-nav > .open > a:hover,
	.devhub .header .navbar-default .navbar-nav > .open > a:focus {
		color: #000;
	}

	/*Dropdown Menu*/
	.header .dropdown-menu { border-top: solid 2px #e0000a }
}

/*Search Box*/
.header .navbar .nav > li > .search:hover {
	color: #e0000a;
	border-bottom-color: #e0000a;
}

@media (max-width: 767px) {
	.header .navbar .nav > li > .search:hover { background: #c0392b }
}

/* Dropdown Submenu for BS3 */
.dropdown-submenu { position: relative }

.dropdown > a:after, .dropdown-submenu > a:after {
    top: 8px;
    right: 9px;
    font-size: 11px;
    content: "\f105";
    position: absolute;
    font-weight: normal;
    display: inline-block;
    font-family: FontAwesome;
}

@media (max-width: 767px) {
  .dropdown-submenu > a:after {
      content: " ";
  }
}

.dropdown > a:after {
    top: 9px;
    right: 0;
    content: "\f107";
}

.dropdown-submenu > .dropdown-menu {
   top: 0;
   left: 100%;
   margin-top: -5px;
   margin-left: 0px;
}

.dropdown-submenu:hover > .dropdown-menu {
   display: block;
}

@media (max-width: 767px) {
  .dropdown-submenu > .dropdown-menu {
     display: block;
     margin-left: 15px;
  }
}

.dropdown-submenu.pull-left {
   float: none;
}

.dropdown-submenu.pull-left > .dropdown-menu {
   left: -100%;
   margin-left: 10px;
}

.dropdown-menu li [class^="fa-"],
.dropdown-menu li [class*=" fa-"] {
  left: -3px;
  width: 1.25em;
  margin-right: 1px;
  position: relative;
  text-align: center;
  display: inline-block;
}
.dropdown-menu li [class^="fa-"].fa-lg,
.dropdown-menu li [class*=" fa-"].fa-lg {
  /* increased font size for fa-lg */
  width: 1.5625em;
}

/* Menu Icons */
.menu-icon {
   margin-right: 10px;
   font-weight: 300;
}

/*Dropdown Show*/
.dropdown-show {
  position: relative;
  display: inline-block;
  box-shadow: 0 0 4px #eee;
}

/* Navigation: pagination*/
.pagination li a {
  color: #777;
  padding: 5px 15px;
}

.pagination li a:hover {
   color: #fff;
   background: #5fb611;
   border-color: #5fb611;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
   border-color: #72c02c;
   background-color: #72c02c;
}

/* Pagination Without Space */
.pagination-no-space .pagination {
   margin: 0;
}

/* Pager */
.pager li > a:hover,
.pager li > a:focus {
   color: #fff;
   background: #5fb611;
   border-color: #5fb611;
}

/* Footer */
.footer { padding: 20px 0 30px }
.footer.margin-top-0 { margin-top: 0 }
.footer p, .footer a { font-size: 14px; font-weight: 600 }
.footer h2,
.footer h3,
.footer h4 { background: none; text-shadow: none }

/* Footer Blog Posts */
.footer .blog-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.footer .blog-list li {
	padding: 0 0;
	margin-bottom: 7px;
}

.footer .dl-horizontal,
.footer .dl-horizontal:hover {
	border: none !important;
	background: none !important;
}
.footer .posts .dl-horizontal a {
	color: #dadada;
}
.footer .dl-horizontal a:hover {
	color: #a8f85f !important;
}
.footer .dl-horizontal img {
	border-color: #888 !important;
}

/* Copyright */
.copyright {
	font-size: 12px;
	padding: 11px 0 7px;
	background: #3e4753;
	border-top: solid 1px #777;
}

.copyright p {
	color: #dadada;
	margin-top: 12px;
}

.copyright a {
	margin: 0 5px;
	color: #72c02c;
}
.copyright a:hover {
	color: #a8f85f;
}

.copyright a img {
	margin-top: 5px;
}

/* Default Breadcrumbs*/
.breadcrumbs {
	overflow: hidden;
	padding: 10px 0 6px;
	border-bottom: solid 1px #eee;
	background: url(../breadcrumbs.png) repeat;
}
.breadcrumbs h1 {
	color: #666;
	font-size: 22px;
	margin-top: 8px;
}

.breadcrumb {
	top: 10px;
	padding-right: 0;
	background: none;
	position: relative;
}
.breadcrumb a {
	color: #777;
}
.breadcrumb li.active,
.breadcrumb li a:hover {
	color: #72c02c;
	text-decoration: none;
}

@media (max-width: 550px) {
	.breadcrumbs h1.pull-left,
	.breadcrumbs ul.pull-right {
		width: 100%;
		text-align: center;
	}

	.breadcrumbs h1.pull-left {
		margin-bottom: 0;
	}

	.breadcrumbs .breadcrumb {
		top: 0;
		margin-bottom: 10px;
	}
}

/* Blog Posts */
.posts .dl-horizontal a {
	color: #555;
}

.posts .dl-horizontal {
	margin-bottom: 15px;
	overflow: hidden;
}

.posts .dl-horizontal dt {
	width: 60px;
	float: left;
}

.posts .dl-horizontal dt img {
	width: 60px;
	height: 60px;
	padding: 2px;
	margin-top: 2px;
	border: solid 1px #ddd;
}

.posts .dl-horizontal dd {
	margin-left: 70px;
}

.posts .dl-horizontal dd p {
	margin: 0;
}

.posts .dl-horizontal dd a {
	font-size: 14px;
	line-height: 16px !important;
}

.posts .dl-horizontal dd a:hover {
	color: #72c02c;
	text-decoration: none;
}

.posts .dl-horizontal:hover dt img,
.posts .dl-horizontal:hover dd a {
	color: #72c02c;
	border-color: #72c02c !important;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}

/*Blog Tags*/
ul.blog-tags li {
	display: inline-block;
}

ul.blog-tags a {
	font-size :13px;
	padding: 2px 7px;
	background: #f7f7f7;
	margin: 0 3px 6px 0;
	display: inline-block;
}

ul.blog-tags a i {
	color: #666;
}

ul.blog-tags a:hover {
	background: #72c02c;
}

ul.blog-tags a:hover,
ul.blog-tags a:hover i {
	color: #fff !important;
	text-decoration: none;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

/* LDC VIA STYLES FOLLOW */
/* Main site font */
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700,400italic');

/* CSS customisations should all go in here */
/* Updated 26-Apr-2018 */

/* Gists can get quite long; keep them manageable */
.gist .gist-data {
  overflow-y: hidden;
  height: 195px;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Raleway', sans-serif;
}

li.sep:after {
  margin-left: 5px;
  content: '•';
}
#logo-footer {
  margin-bottom: 1em;
}
.blog {
  font-size: 16px;
  line-height: 1.6em;
} /* minor font tweak, Feb-2018 */
.blog img {
  max-width: 920px;
}

p.minor {font-size: .7em; font-style: italic }

.blog-header {
  float: right;
  margin: 0 0 2em 2em;
}
.full-header {
  margin: 0.5em auto 1.5em auto;
  display: block;
}
.eu-blue {
  background-color: #3262b5;
  width: 100%;
  margin: 0 0 1em 0;
  padding: 1.5em 0;
  height: 130px;
}

/* Footer colour customisations */
/* Footer */
.footer {
  color: #dadada;
  background: #19b698;
}
.footer p {
  color: #dadada;
  font-weight: 500;
}
.footer h2,
.footer h3,
.footer h4 {
  color: #e4e4e4;
  background: none;
  text-shadow: none;
}
.copyright {
  background: #3e4753;
  border-top: solid 1px #777;
}
.copyright p {
  color: #dadada;
}

/* Footer link customisations */
.footer a {
  color: #fff;
  text-decoration: none;
  font-weight: normal
}
.footer a:hover {
  color: #fff;
  text-decoration: underline;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.copyright a,
.copyright a:hover {
  color: #e0000a;
}

/* MailChimp sign-up form */
#mc_embed_signup h2 {
  margin: 0;
  font-weight: normal;
  line-height: 1em;
}
#mc_embed_signup div.response {
  font-weight: normal;
}
#mc_embed_signup input {
  font-size: 87%;
}

/* Embedded videos and images */
.video560 {
  width: 560px;
  height: 315px;
}

/* Smaller viewports */
@media only screen and (max-width: 703px) {
  .video560 {
    width: 420px;
    height: 237px;
  }
  .blog img {
    width: 80%;
    height: 80%;
  }
  .full-header {
    margin: 0 0 1em 0;
  }
  .full-header img {
    width: 100%;
    height: 100%;
  }
}

@media only screen and (min-width: 704px) {
  .full-header img {
    width: 100%;
    height: 100%;
  }
}
