<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
    <title>{{ page.title }}</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta name="author" content="{{ site.author.name }}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href="{{ ASSET_PATH }}/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ ASSET_PATH }}/css/style.css" rel="stylesheet">
    <link href="{{ ASSET_PATH }}/plugins/line-icons/line-icons.css" rel="stylesheet">
    <link href="{{ ASSET_PATH }}/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="{{ ASSET_PATH }}/css/pages/blog.css" rel="stylesheet">
    <link href="{{ ASSET_PATH }}/css/themes/red.css" rel="stylesheet">
    <link href="{{ ASSET_PATH }}/css/custom.css" rel="stylesheet">
    <link rel="icon" href="{{ ASSET_PATH }}/favicon.ico" type="image/vnd.microsoft.icon">

    <script async="" src="//www.google-analytics.com/analytics.js"></script>
    <!-- Le fav and touch icons -->
    <!-- Update these with your own images
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
  -->
    <script src="http://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js" type="text/javascript" async=""></script>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js" type="text/javascript"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="http://cookieconsent.silktide.com/?s=1"></script>

    <!-- atom & rss feed -->
    <link href="{{ BASE_PATH }}{{ site.JB.atom_path }}" type="application/atom+xml" rel="alternate" title="Sitewide ATOM Feed">
    <link href="{{ BASE_PATH }}{{ site.JB.rss_path }}" type="application/rss+xml" rel="alternate" title="Sitewide RSS Feed">
  </head>

  <body>
  <div class="wrapper">
    <!--=== Header ===-->
    <div class="header">
      <div class="topbar">
        <div class="container">
          <ul class="loginbar pull-right">
            <li id="login" class="sep"><a href="https://eu.ldcvia.com/login">Log in</a></li>
            <li id="register" class="sep"><a href="https://eu.ldcvia.com/register">Sign up</a></li>
            <li id="support" class="sep"><a href="http://ldcvia.zendesk.com" title="Receive some assistance via our helpdesk">Help</a></li>
            <li id="apidocs" class="sep"><a href="http://api.ldcvia.com/" title="API documentation for developers">Developers</a></li>
            <li id="terms"><a href="http://ldcvia.com/terms.html" title="Read our terms and conditions">Terms</a></li>
            <li><a href="http://twitter.com/ldcvia" title="Follow us on Twitter: @ldcvia"><i class="fa fa-twitter"></i></a></li>
            <li><a href="http://facebook.com/ldcvia" title="Check out our Facebook page"><i class="fa fa-facebook"></i></a></li>
          </ul>
        </div>
      </div><!-- topbar -->

        <!-- Navbar -->
        <div role="navigation" class="navbar navbar-default">
        <div class="navbar-header">
          <button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle"><span class="sr-only">Toggle
          navigation</span></button><a href="http://ldcvia.com/index.html" class="navbar-brand"><img id="logo-header" src="{{ ASSET_PATH }}/logo.png"></a>
        </div>

        <div class="collapse navbar-collapse navbar-responsive-collapse">
          <ul class="nav navbar-nav">
            <li id="howdoesitwork"><a href="http://ldcvia.com/howdoesitwork.html">How LDC Via works</a></li>
            <li id="about"><a href="http://ldcvia.com/about.html">About us</a></li>
            <li id="blog" class="active"><a href="http://blog.ldcvia.com">Our blog</a></li>
            <li id="prices"><a href="http://ldcvia.com/prices.html">Pricing</a></li>
          </ul>
        </div>
      </div>
        <!-- End Navbar -->
    </div>
    <!--=== End Header ===-->

    <!--=== Content Part ===-->
    <div class="container content blog-full-width">
      {{ content }}
    </div>

    <!-- FOOTER -->
    <div class="footer-v1">
      <div class="footer">
        <div class="container">
          <div class="row">
            <!-- About -->
            <div class="col-md-3 md-margin-bottom-20">
              <a href="http://ldcvia.com/index.html"><img id="logo-footer" class="footer-logo" src="{{ ASSET_PATH }}/logo.png" alt="LDC Via logo: click to return to home page"></a>
              <p>LDC Via: modernise your Domino data.</p>
              <p>Use the cloud to liberate your organisation&#8217;s knowledge.</p>
            </div><!--/col-md-3-->
            <!-- End About -->

            <!-- Link List -->
            <div class="col-md-3 md-margin-bottom-20">
              <h2>Quick links</h2>
              <ul class="list-unstyled link-list">
                <li><a href="http://ldcvia.com/index.html">Home</a><i class="fa fa-angle-right"></i></li>
                <li><a href="http://ldcvia.com/howdoesitwork.html">How LDC Via works</a><i class="fa fa-angle-right"></i></li>
                <li><a href="http://ldcvia.com/about.html">About us</a><i class="fa fa-angle-right"></i></li>
                <li><a href="http://blog.ldcvia.com">Our blog</a><i class="fa fa-angle-right"></i></li>
                <li><a href="http://ldcvia.com/prices.html">Pricing</a><i class="fa fa-angle-right"></i></li>
                <li><a href="http://ldcvia.zendesk.com">Help &amp; support</a><i class="fa fa-angle-right"></i></li>
                <li><a href="http://api.ldcvia.com">Developers</a><i class="fa fa-angle-right"></i></li>
                <li><a href="http://ldcvia.com/downloads.html">Downloads</a><i class="fa fa-angle-right"></i></li>
                <li><a href="http://status.ldcvia.com">Status</a><i class="fa fa-angle-right"></i></li>
              </ul>
            </div><!--/col-md-3-->
            <!-- End Link List -->

            <!-- Address -->
            <div class="col-md-3 map-img md-margin-bottom-20">
              <h2>Contact us</h2>
              <address class="md-margin-bottom-20">
                LDC Via Ltd.<br>
                24 Ivymount Road<br>
                London<br>
                SE27 0NB<br>
                United Kingdom
              </address>
              <address class="md-margin-bottom-20">
                +44 (0) 203 633 3009<br />
                (9am - 6pm UK time)
              </address>
              <address class="md-margin-bottom-20">
                <a href="mailto:support@ldcvia.zendesk.com">support@ldcvia.zendesk.com</a>
              </address>
              <address class="md-margin-bottom-20">
                A company registered in England &amp; Wales, no. 09209489
              </address>
            </div><!--/col-md-3-->
            <!-- End Address -->

            <!-- Social list -->
            <div class="col-md-3 md-margin-bottom-20">
              <h2>Elsewhere</h2>
              <ul class="list-unstyled link-list">
                <li><a href="http://blog.ldcvia.com">LDC Via blog</a><i class="fa fa-angle-right"></i></li>
                <li><a href="http://twitter.com/ldcvia">LDC Via on Twitter</a><i class="fa fa-angle-right"></i></li>
                <li><a href="http://facebook.com/ldcvia">LDC Via on Facebook</a><i class="fa fa-angle-right"></i></li>
              </ul>
            </div><!--/col-md-3-->
            <!-- End social list -->
          </div><!-- end row -->
        </div><!-- end container -->
      </div><!-- end footer-->

      <div class="copyright">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <p>2015 &copy; All rights reserved. <a href="http://ldcvia.com/terms.html">Terms &amp; conditions</a></p>
            </div>
          </div>
        </div>
      </div><!-- copyright -->
    </div><!-- footer-v1 -->
  </div>
    {% include JB/analytics %}

<!-- JS Global Compulsory -->
<script type="text/javascript" src="//code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<!-- JS Implementing Plugins -->
<script type="text/javascript" src="/plugins/back-to-top.js"></script>
<!-- JS Page Level -->
<script type="text/javascript" src="/js/app.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function() {
        App.init();
    });
</script>
<!--[if lt IE 9]>
    <script src="/plugins/respond.js"></script>
<![endif]-->

  </body>
</html>
